
{%  extends 'base.html' %}
{% load render_table from django_tables2 %}
{% block title %}Clients{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/django_tables2/themes/paleblue/css/screen.css" />
{% endblock %}

{% block body %}
    <a href="{% url 'clients:client-create' %}" class="btn btn-default col-sm-offset-10  ">Add Client</a>

{#    {% render_table table %}#}


    <table class="table table-bordered table-condensed table-striped table-hover" style="width:60%">
        <tr class="table-row">
            <td>ClientID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td></td>
        </tr>
        {% for client in clients %}
        <tr class="table-row">
            <td>{{ client.pk }}</td>
            <td>{{ client.first_name }}</td>
            <td>{{ client.last_name }}</td>
            <td><a href="{% url 'clients:detail' client.pk %}" class="btn-sm btn-default">View</a> <a href="{% url 'clients:client-update' client.pk %}" class="btn-sm btn-default">Update</a></td>
        </tr>
        {% endfor %}

    </table>

{% endblock %}
