
{%  extends 'base.html' %}

{% block title %}Jobs{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-10">

                <table class="table table-bordered table-condensed table-striped table-hover" >
                    <tr>
                        <td>JobID</td>
                        <td>Name</td>
                        <td>Client</td>
                        <td></td>
                    </tr>
                    {% for job in jobs %}
                    <tr>
                        <td>{{ job.job_id }}</td>
                        <td>{{ job.job_name }}</td>
                        <td>{{ job.client }}</td>
                        <td><a href="{% url 'jobs:detail' job.job_id %}" class="btn-sm btn-default">View</a> <a href="{% url 'jobs:job-update' job.job_id %}" class="btn-sm btn-default">Update</a></td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
            <div class="col-xs-2 ">
                <a href="{% url 'jobs:job-create' %}" class="btn btn-default">Add Job</a>
            </div>
        </div>

    </div>
{% endblock %}
